<div class="lang-container">
  <div class="lang-card">
    <img src="https://www.mercedes-benz.com/content/dam/brandhub/global/logos/MB-star_n_web.svg" class="logo" alt="Mercedes Logo">
    <h2 class="title">Welcome / Bienvenue</h2>
    <div class="lang-buttons">
      <button class="lang-btn" [routerLink]="['/client-portal', 'en', plate, folderName]">English</button>
      <button class="lang-btn" [routerLink]="['/client-portal', 'fr', plate, folderName]">Français</button>
    </div>
  </div>
</div>
